@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Azeret Mono", monospace;
}

/* header nav styles */
/* nav {
	margin-bottom: 47px;
} */

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul li {
	list-style: none;
	margin-right: 150px;
	margin-left: 150px;
}

.nav-btn {
	width: 228px;
	height: 58px;
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 1);
	border-radius: 8px;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* nav text styles */
.nav-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.btn-text {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

/* hero section styles */
.hero {
	background-image: url("../assets/Hero-bg.png");
	height: 652px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 200px;
}

.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content {
	width: 998px;
	height: 582px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titles {
	margin-top: 40px;
	width: 998px;
	height: 212px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titles .hero-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 48px;
	line-height: 68px;
	text-align: center;
}

.titles .hero-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}
.hero-btn a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	line-height: 1px;
	letter-spacing: 0%;
	text-align: center;
}
.hero-btn {
	padding: 21px 24px;
	border-radius: 8px;
	background: rgba(13, 19, 33, 1);
}

/* main section why-web-dev styles */
.why-web-dev {
	background-color: rgba(13, 19, 33, 0.02);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-content {
	width: 852px;
	height: 115px;
}
.menu-item-container {
	width: 946px;
	height: 336px;
	padding: 48px;
}
.menu-item-1 {
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.item-content {
	width: 487px;
	height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.menu-btn a {
	text-decoration: none;
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	background-color: white;
}
.menu-btn {
	background-color: white;
}

/* section why-web-dev text formatting */
.menu-title {
	color: rgba(13, 19, 33, 1);

	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.menu-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: center;
	opacity: 0.7;
}

.item-title {
	color: rgba(13, 19, 33, 0.7);
	font-family: Azeret Mono;
	font-size: 25px;
	font-weight: bolder;
	text-align: left;
}

.item-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	opacity: 0.7;
}

/* Menu footer styles */
.menu-item-footer .footer-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.menu-item-footer .footer-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}
/* youtube video styles */
.yt-container {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1140px;
	height: 614px;
	border: 1px solid rgba(13, 19, 33, 0.2);
	border-radius: 16px;
	margin-bottom: 149px;
}
iframe {
	width: 1076px;
	height: 550px;
	border-radius: 16px;
}

/* my-corrent-target styless */
.my-corrent-target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 111px;
}
.content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
}

.content-box {
	width: 852px;
	height: 115px;
}

.ct-skill-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.card-box {
	padding: 40px;
	width: 300px;
	height: 200px;
}
.card-content {
	width: 284px;
	height: 220px;
}

/* cards background colors */
.ct-skill-container .card-1 {
	border-radius: 16px;
	background: rgba(255, 76, 30, 0.05);
}

.ct-skill-container .card-2 {
	border-radius: 16px;
	background: rgba(0, 76, 232, 0.05);
}

.ct-skill-container .card-3 {
	border-radius: 16px;
	background: rgba(255, 223, 0, 0.05);
}

/* my-corrent-target text fomatting */
.content-box .ct-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.content-box .ct-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}

.card-content .card-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: 0%;
	text-align: left;
}
.card-content .card-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	opacity: 0.7;
}
.card-content a {
	display: block;
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 600;
}
/* my-next-target styles */
.my-next-target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nt-content-box {
	width: 852px;
	height: 115px;
	margin-bottom: 48px;
}
.nt-card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 1140px;
	height: 708px;
	margin-bottom: 41px;
}
.nt-card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1140px;
	height: 220px;
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 0.15);
	border-radius: 16px;
	background: rgba(255, 255, 255, 1);
}

.nt-card-content {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 1060px;
	height: 140px;
}

/* image box sizing */

.nt-card-image-1 {
	width: 94.78px;
	height: 108px;
}
.nt-card-image-2 {
	width: 143.51px;
	height: 88px;
}
.nt-card-image-3 {
	width: 108px;
	height: 108px;
}

.nt-card-content-text {
	width: 892.49px;
	height: 140px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: start;
}

/* nt top content box text formatting */
.nt-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}

.nt-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}

/* now inner card text formatting */
.nt-card-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 24px;
}

.nt-card-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	opacity: 0.7;
}
.nt-card-description a {
	display: block;
	text-decoration: none;
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 600;
}

/* feedback styles */
.feedback-box {
	margin: 0 auto;
	width: 1140px;
	height: 314px;
	margin-bottom: 79px;
}
.feedback-box-bg-image {
	background-image: url("../assets/handshake.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 16px;
	padding: 64px 48px;
}
.main-box {
	width: 1044px;
	height: 186px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-box {
	width: 730px;
	height: 104px;
}

.input-box {
	display: flex;
	gap: 16px;
	justify-content: center;
}

.input-box input[type="text"] {
	width: 548px;
	height: 57px;
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 0.15);
	border-radius: 8px;
	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 0.4);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	padding: 19px 0 19px 20px;
}

.input-box input[type="submit"] {
	width: 120px;
	height: 58px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 1);
	color: rgb(0, 0, 0);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	border: none;
}

/* feedback-box text formatting */
.feedback-title {
	color: rgba(255, 255, 255, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0%;
	text-align: center;
}
.feedback-description {
	color: rgba(255, 255, 255, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: center;
	opacity: 0.7;
}

/* social box styles */
.social-box {
	width: auto;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-content {
	width: 1140px;
	height: 36px;
	padding: 32px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

/* social box text formatting */
.c-name {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 500;
}
/* footer styles */
.footer-content {
	background-color: rgb(67, 66, 66);
	margin-bottom: 0;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* footer text formatting */
.footer-text {
	color: rgba(255, 255, 255, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}
