@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Azeret Mono", monospace;
}

/* header nav styles */
/* nav {
	margin-bottom: 47px;
} */

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul li {
	list-style: none;
	margin-right: 150px;
	margin-left: 150px;
}

.nav-btn {
	width: 228px;
	height: 58px;
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 1);
	border-radius: 8px;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* nav text styles */
.nav-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.btn-text {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

/* hero section styles */
.hero {
	background-image: url("../assets/Hero-bg.png");
	height: 652px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 200px;
}

.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content {
	width: 998px;
	height: 582px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titles {
	margin-top: 40px;
	width: 998px;
	height: 212px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titles .hero-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 48px;
	line-height: 68px;
	text-align: center;
}

.titles .hero-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}
.hero-btn a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	line-height: 1px;
	letter-spacing: 0%;
	text-align: center;
}
.hero-btn {
	padding: 21px 24px;
	border-radius: 8px;
	background: rgba(13, 19, 33, 1);
}

/* main section why-web-dev styles */
.why-web-dev {
	background-color: rgba(13, 19, 33, 0.02);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-content {
	width: 852px;
	height: 115px;
}
.menu-item-container {
	width: 946px;
	height: 336px;
	padding: 48px;
}
.menu-item-1 {
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.item-content {
	width: 487px;
	height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.menu-btn a {
	text-decoration: none;
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	background-color: white;
}
.menu-btn {
	background-color: white;
}

/* section why-web-dev text formatting */
.menu-title {
	color: rgba(13, 19, 33, 1);

	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.menu-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: center;
	opacity: 0.7;
}

.item-title {
	color: rgba(13, 19, 33, 0.7);
	font-family: Azeret Mono;
	font-size: 25px;
	font-weight: bolder;
	text-align: left;
}

.item-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	opacity: 0.7;
}

/* Menu footer styles */
.menu-item-footer .footer-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.menu-item-footer .footer-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}
/* youtube video styles */
.yt-container {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1140px;
	height: 614px;
	border: 1px solid rgba(13, 19, 33, 0.2);
	border-radius: 16px;
	margin-bottom: 149px;
}
iframe {
	width: 1076px;
	height: 550px;
	border-radius: 16px;
}

/* my-corrent-target styless */
.my-corrent-target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 111px;
}
.content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
}

.content-box {
	width: 852px;
	height: 115px;
}

.ct-skill-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.card-box {
	padding: 40px;
	width: 300px;
	height: 200px;
}
.card-content {
	width: 284px;
	height: 220px;
}

/* cards background colors */
.ct-skill-container .card-1 {
	border-radius: 16px;
	background: rgba(255, 76, 30, 0.05);
}

.ct-skill-container .card-2 {
	border-radius: 16px;
	background: rgba(0, 76, 232, 0.05);
}

.ct-skill-container .card-3 {
	border-radius: 16px;
	background: rgba(255, 223, 0, 0.05);
}

/* my-corrent-target text fomatting */
.content-box .ct-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 32px;
	text-align: center;
}
.content-box .ct-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	opacity: 0.7;
}

.card-content .card-title {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: 0%;
	text-align: left;
}
.card-content .card-description {
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	opacity: 0.7;
}
.card-content a {
	display: block;
	color: rgba(13, 19, 33, 1);
	font-family: Azeret Mono;
	font-size: 16px;
	font-weight: 600;
}
